<a href="https://colab.research.google.com/github/iam-fern/Generate_homonew/blob/main/data_varnew.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Generating random numbers from a uniform distribution
https://subscription.packtpub.com/book/big_data_and_business_intelligence/9781787125698/12/ch25lvl1sec126/generating-random-numbers-from-a-uniform-distribution

In [16]:
import pandas as pd
import numpy as np
import scipy as sp
import matplotlib.pyplot as plt
from scipy.stats import norm
from numpy.random import normal
import statistics
import statistics as stats
import scipy.stats as ss
from scipy import stats
import scipy.stats as stats
import random
import statsmodels.api as sm
%matplotlib inline
from google.colab import files

In [24]:
n=20
rep=0
sp.random.seed(123345)
table_data_all=pd.DataFrame({"rep":[]})
data_copy=new_data.copy()
while not data_copy.empty:
    #=========================
    if data_copy.shape[0]>n:
        index=data_copy.sample(n).index
        data_new=data_copy.loc[index,:].reset_index(drop=True)
        data_copy=data_copy.drop(index)
    else:
        data_new=data_copy.copy().reset_index(drop=True)
        data_copy=pd.DataFrame({"":[]})
    #=========================

    table_data = pd.DataFrame({"x1" : sp.random.uniform(20, 100, n),
                               "x2" : sp.random.uniform(20, 100, n),
                               "x3" : sp.random.uniform(20, 100, n),
                               "e"  : np.random.normal(0, 1*(1+X2)**0, n)})
  

    table_data["Y"] = 10 + table_data["x1"] + table_data["x2"] + table_data["x3"] + table_data["e"]
    
    table_data=table_data.reset_index(drop=True).reset_index()
    table_data["rep"]=rep
    table_data_all=pd.concat([table_data_all,table_data],axis=0,ignore_index=True,sort=False)
    rep+=1
    if rep==1000:
      break
table_data_all=table_data_all.set_index(["rep", "index"])
table_data_all

                  x1         x2         x3         e           Y
rep index
0.0 0.0    43.698982  53.382861  68.671054  1.196748  176.949645
    1.0    35.822274  48.122361  74.327218 -0.106731  168.165123
    2.0    21.161244  66.013140  29.146103  0.788157  127.108645
    3.0    80.732617  27.721245  79.156022  0.907460  198.517343
    4.0    79.853972  48.270741  56.016260 -1.700414  192.440560
    5.0    39.873412  52.259081  61.914250 -1.422870  162.623873
    6.0    68.244038  29.583141  98.826319 -0.568682  206.084816
    7.0    44.842710  24.379922  27.743309  0.099323  107.065264
    8.0    64.011031  22.440374  60.091779  0.765033  157.308217
    9.0    77.702849  47.793368  44.863594 -0.732964  179.626848
    10.0   47.501186  48.291109  92.908094  0.763183  199.463572
    11.0   56.223518  82.760511  88.119633 -0.022902  237.080760
    12.0   29.650116  90.551172  59.043202 -1.952359  187.292131
    13.0   73.448109  29.972529  94.268897 -0.737762  206.951773
    14.0   91.930395  84.234224  74.181174  0.235313  260.581106
    15.0   49.565641  45.093224  65.633257  0.463740  170.755863
    16.0   52.849239  35.842879  27.004494  0.769319  126.465930
    17.0   84.226014  33.725595  32.865016 -0.408367  160.408258
    18.0   77.056274  59.611372  44.356866 -1.476447  189.548065
    19.0   24.860678  81.425083  20.877821  0.918855  138.082437

In [ ]:
x = new_data[["X1", "X2", "X3",]]
y = new_data["Y"]
x = sm.add_constant(x)
model = sm.OLS(y, x).fit()
y_pred = model.predict(x)

df = pd.DataFrame({"Actual": y, "Predicted": y_pred})

table_data_new = pd.DataFrame({"x1"   : new_data["X1"],
                               "x2"   : new_data["X2"],
                               "x3"   : new_data["X3"],
                               "e"     : new_data["e"],
                               "Y"     : df["Actual"],
                               "y_hat" : df["Predicted"]})
table_data_new["e_hat"] = table_data_new["Y"] - table_data_new["y_hat"]
table_data_new

               x1         x2         x3  ...           Y       y_hat     e_hat
0       94.369287  54.131381  50.369875  ...  207.911805  208.870763 -0.958959
1       45.310044  39.439380  78.914389  ...  173.215508  173.665906 -0.450398
2       34.713505  22.587741  94.955410  ...  162.004460  162.259881 -0.255422
3       36.364822  73.436228  23.816069  ...  141.484021  143.615207 -2.131186
4       65.418002  67.851132  30.707659  ...  173.237690  173.975486 -0.737796
...           ...        ...        ...  ...         ...         ...       ...
249995  42.007904  57.536740  24.494812  ...  133.269122  134.037649 -0.768527
249996  42.716521  25.341595  33.722474  ...  111.612697  111.779511 -0.166813
249997  65.958960  52.603326  77.183495  ...  205.795687  205.747797  0.047890
249998  46.987658  87.355458  41.740635  ...  188.420083  186.083113  2.336970
249999  99.258556  86.874735  59.006160  ...  255.238716  255.140226  0.098490

[250000 rows x 7 columns]

In [ ]:
new_data.to_csv('data_newvar2_n250_(X2)__0.csv')
files.download('data_newvar2_n250_(X2)__0.csv')