<a href="https://colab.research.google.com/github/iam-fern/Generate_homonew/blob/main/data_varnew.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Generating random numbers from a uniform distribution
https://subscription.packtpub.com/book/big_data_and_business_intelligence/9781787125698/12/ch25lvl1sec126/generating-random-numbers-from-a-uniform-distribution

In [ ]:
import pandas as pd
import numpy as np
import scipy as sp
import matplotlib.pyplot as plt
from scipy.stats import norm
from numpy.random import normal
import statistics
import statistics as stats
import scipy.stats as ss
from scipy import stats
import scipy.stats as stats
import time
import statsmodels.api as sm
%matplotlib inline
from google.colab import files

In [ ]:


n=50
rep=0
table_data_all=pd.DataFrame({"rep":[]})

sp.random.seed(12345)
data = pd.DataFrame({"X1" : sp.random.uniform(20, 100, n),
                     "X2" : sp.random.uniform(20, 100, n),
                     "X3" : sp.random.uniform(20, 100, n)})


X1 = data["X1"]
X2 = data["X2"]
X3 = data["X3"]

new_data = pd.DataFrame({"X1" : data["X1"],
                         "X2" : data["X2"],
                         "X3" : data["X3"],
                         "e"  : np.random.normal(0, 1*(X2)**0, n)})

new_data["Y"] = 10 + data["X1"] + data["X2"] + data["X3"] + new_data["e"]
new_data

              X1         X2         X3
0      94.369287  21.876035  70.834887
1      45.310044  98.500792  52.198868
2      34.713505  87.809763  80.796631
3      36.364822  23.907058  29.358650
4      65.418002  22.201854  67.411183
...          ...        ...        ...
19995  97.723483  64.521856  56.183775
19996  92.157369  93.948386  78.396201
19997  85.942039  87.316717  26.182967
19998  22.970042  50.520599  68.981811
19999  38.036635  48.826114  86.639628

[20000 rows x 3 columns]

In [ ]:
x = new_data[["X1", "X2", "X3",]]
y = new_data["Y"]
x = sm.add_constant(x)
model = sm.OLS(y, x).fit()
y_pred = model.predict(x)

df = pd.DataFrame({"Actual": y, "Predicted": y_pred})

table_data_new = pd.DataFrame({"x1"   : new_data["X1"],
                               "x2"   : new_data["X2"],
                               "x3"   : new_data["X3"],
                               "e"     : new_data["e"],
                               "Y"     : df["Actual"],
                               "y_hat" : df["Predicted"]})
table_data_new["e_hat"] = table_data_new["Y"] - table_data_new["y_hat"]
table_data_new

               x1         x2         x3  ...           Y       y_hat     e_hat
0       94.369287  54.131381  50.369875  ...  207.911805  208.870763 -0.958959
1       45.310044  39.439380  78.914389  ...  173.215508  173.665906 -0.450398
2       34.713505  22.587741  94.955410  ...  162.004460  162.259881 -0.255422
3       36.364822  73.436228  23.816069  ...  141.484021  143.615207 -2.131186
4       65.418002  67.851132  30.707659  ...  173.237690  173.975486 -0.737796
...           ...        ...        ...  ...         ...         ...       ...
249995  42.007904  57.536740  24.494812  ...  133.269122  134.037649 -0.768527
249996  42.716521  25.341595  33.722474  ...  111.612697  111.779511 -0.166813
249997  65.958960  52.603326  77.183495  ...  205.795687  205.747797  0.047890
249998  46.987658  87.355458  41.740635  ...  188.420083  186.083113  2.336970
249999  99.258556  86.874735  59.006160  ...  255.238716  255.140226  0.098490

[250000 rows x 7 columns]

In [ ]:
new_data.to_csv('data_newvar2_n250_(X2)__0.csv')
files.download('data_newvar2_n250_(X2)__0.csv')